<h1>Welcome to the library catalog!</h1>

<form action="/patron/main" method="get">
  <button type="submit" class="btn btn-primary" aria-label="Left Align" id="righ-float-button">Patron</button>
</form>

<form action="/librarian/main" method="get">
  <button type="submit" class="btn btn-primary" aria-label="Left Align" id="righ-float-button">Librarian</button>
</form>
